<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <title>PlayNext</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">PlayNext - Find Your Next Favorite Game</div>
        <div class="nav-links">
            <a href="http://127.0.0.1:5000/play2gether" class="watch-button">Play2gether</a>
            <a href="http://127.0.0.1:5000/recommendation" class="detail-button">Want a Recommendation?</a>
        </div>
    </nav>

    <div class="carousel">
        <div class="carousel-items">
            <div class="carousel-item" id="item1-content">
                <div class="detail">
                    <h1>Forza Horizon 5</h1>
                    <div class="details">
                        <span>📺 PC</span>
                        <span>📅 Nov 1, 2021</span>
                        <span>👁️ 366</span>
                        <span>👍 366</span>
                    </div>
                    <p>
                        Leave Your Limits. Discover the beauty and fun of open world driving in Forza Horizon 5 and join a community of car lovers and creative players.
                    </p>
                    <div class="buttons">
                        <a href="https://store.steampowered.com/app/1551360/Forza_Horizon_5/" class="watch-button" target="_blank">Play Game</a>
                        <a href="http://127.0.0.1:5000/forza-horizon-5" class="detail-button">Details</a>
                    </div>
                </div>
                <br>
                <a href="http://127.0.0.1:5000/forza-horizon-5"><img src="/static/forza_Carousar.jpg" alt="Forza"></a>
            </div>
            <div class="carousel-item" id="item2-content">
                <div class="detail">
                    <h1>FC25</h1>
                    <div class="details">
                        <span>📺 PC</span>
                        <span>📅 Sep 27, 2024</span>
                        <span>👁️ 450</span>
                        <span>👍 400</span>
                    </div>
                    <p>
                        Team up in 5v5 Rush, a new way to play with friends in Football Ultimate Team™, Clubs, and Kick-Off with fast-paced small-sided gameplay.
                    </p>
                    <div class="buttons">
                        <a href="https://store.steampowered.com/app/2669320/EA_SPORTS_FC_25/" class="watch-button" target="_blank">Play Game</a>
                        <a href="http://127.0.0.1:5000/fc-25" class="detail-button">Details</a>
                    </div>
                </div>
                <br>
                <a href="http://127.0.0.1:5000/fc-25"><img src="/static/fc25_Carousar.jpg" alt="fc25"></a>
            </div>
            <div class="carousel-item" id="item3-content">
                <div class="detail">
                    <h1>GTA-5</h1>
                    <div class="details">
                        <span>📺 PC</span>
                        <span>📅 Sep 17, 2013</span>
                        <span>👁️ 800</span>
                        <span>👍 700</span>
                    </div>
                    <p>
                        Grand Theft Auto V is an action-adventure game played from either a third-person or first-person perspective. Players complete missions—linear scenarios with set objectives—to progress through the story. Outside of the missions, players may freely roam the open world.
                    </p>
                    <div class="buttons">
                        <a href="https://store.steampowered.com/app/271590/Grand_Theft_Auto_V/" class="watch-button" target="_blank">Play Game</a>
                        <a href="http://127.0.0.1:5000/grand-theft-auto-5" class="detail-button">Details</a>
                    </div>
                </div>
                <br>
                <a href="http://127.0.0.1:5000/grand-theft-auto-5"><img src="/static/gta-5.jpg" alt="GTA-5"></a>
            </div>
            <div class="carousel-item" id="item4-content">
                <div class="detail">
                    <h1>It Takes Two</h1>
                    <div class="details">
                        <span>📺 PC</span>
                        <span>📅 Mar 25, 2021</span>
                        <span>👁️ 400</span>
                        <span>👍 550</span>
                    </div>
                    <p>
                        It Takes Two follows the story of Cody and May, a married couple with their hearts set on divorce. However, after breaking the news to their daughter Rose, they are magically transformed into a pair of dolls.
                    </p>
                    <div class="buttons">
                        <a href="https://store.steampowered.com/app/1426210/It_Takes_Two/" class="watch-button" target="_blank">Play Game</a>
                        <a href="http://127.0.0.1:5000/it-takes-two" class="detail-button">Details</a>
                    </div>
                </div>
                <br>
                <a href="http://127.0.0.1:5000/it-takes-two"><img src="/static/it-takes-two-carousar.jpg" alt="It_takes_two"></a>
            </div>
            <div class="carousel-item" id="item5-content">
                <div class="detail">
                    <h1>Portal 2</h1>
                    <div class="details">
                        <span>📺 PC</span>
                        <span>📅 Oct 20, 2013</span>
                        <span>👁️ 500</span>
                        <span>👍 720</span>
                    </div>
                    <p>
                        Portal 2 is a first-person perspective puzzle game. The player takes the role of Chell in the single-player campaign, as one of two robots—Atlas and P-Body—in the cooperative campaign, or as a simplistic humanoid icon in community-developed puzzles.
                    </p>
                    <div class="buttons">
                        <a href="https://store.steampowered.com/app/620/Portal_2/" class="watch-button" target="_blank">Play Game</a>
                        <a href="http://127.0.0.1:5000/portal-2" class="detail-button">Details</a>
                    </div>
                </div>
                <br>
                <a href="http://127.0.0.1:5000/portal-2"><img src="/static/portal_2_carousar.jpg" alt="portal2"></a>
            </div>
        </div>

        <div class="controls">
            <button class="control left">❮</button>
            <button class="control right">❯</button>
        </div>
    </div>
            
    </div>
    <div class="games_list">
        <div class="Game_Year">
            <h1>Game of the Year</h1>
        </div>
        <div class="games">
            <div class="GTA5">
                <P>GTA-5</P>
                <a href="http://127.0.0.1:5000/grand-theft-auto-5"><img src="/static/gta game_of_year.png" width="250" height="300"></a>
            </div>
            <div class="last_of_us">
                <p>The Last Of Us: Part II</p>
                <a href="http://127.0.0.1:5000/last-of-us-part-II"><img src="/static/last_of_us_game_year.jpg" width="250" height="300"></a>
            </div>
            <div class="uncharted4">
                <p>Uncharted 4</p>
                <a href="http://127.0.0.1:5000/uncharted-4-a-theif's-end"><img src="/static/uncharted4_game_year.jpg" width="250" height="300"></a>
            </div>
            <div class="read_dead">
                <p>Read Dead Redemption II</p>
                <a href="http://127.0.0.1:5000/red-dead-redemption-2"><img src="/static/rdd-game_year.webp" width="250" height="300"></a>
            </div>
            <div class="God_of_war">
                <p>God Of War</p>
                <a href="http://127.0.0.1:5000/god-of-war"><img src="/static/gow_game_of_year.avif" width="250" height="300"></a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="games_list">
        <div class="Game_Year">
            <h1>Top Rated</h1>
        </div>
        <div class="games">
            <div class="dishonoured">
                <P>Dishonored 2</P>
                <a href="http://127.0.0.1:5000/dishonoured-2"><img src="/static/dishonoured 2 top_rated.jpg" width="250" height="300"></a>
            </div>
            <div class="GTA5">
                <p>GTA-5</p>
                <a href="http://127.0.0.1:5000/grand-theft-auto-5"><img src="/static/gta game_of_year.png" width="250" height="300"></a>
            </div>
            <div class="witcher">
                <p>The Witcher 3: Wild Hunt</p>
                <a href="http://127.0.0.1:5000/witcher-3-wild-hunt"><img src="/static/witcher 3 top_rated.jpg" width="250" height="300"></a>
            </div>
            <div class="It_takes">
                <p>Resident Evil 4</p>
                <a href="http://127.0.0.1:5000/resident-evil-4"><img src="/static/resident_evil_top_rated.jpg" width="250" height="300"></a>
            </div>
            <div class="Far_cry">
                <p>Far Cry 3</p>
                <a href="http://127.0.0.1:5000/far-cry-3"><img src="/static/far_cry_top_rated.jpg" width="250" height="300"></a>
            </div> 
        </div>
    </div>

    <br><br>
    <div class="games_list">
        <div class="Game_Year">
            <h1>Most Popular</h1>
        </div>
        <div class="games">
            <div class="Cyberpunk">
                <P>Cyberpunk 2077</P>
                <a href="http://127.0.0.1:5000/cyberpunk"><img src="/static/cyber_punk_most_popular.jpg" width="250" height="300"></a>
            </div>
            <div class="bioshock">
                <p>BioShock</p>
                <a href="http://127.0.0.1:5000/bioshock"><img src="/static/BioShock_most_popular.jpg" width="250" height="300"></a>
            </div>
            <div class="Walking_dead">
                <p>The Walking Dead</p>
                <a href="http://127.0.0.1:5000/the-walking-dead"><img src="/static/walking dead_most_popular.jpg" width="250" height="300"></a>
            </div>
            <div class="Ghost_Of_Tsushima">
                <p>Ghost Of Tsushima</p>
                <a href="http://127.0.0.1:5000/ghost-of-tsushima"><img src="/static/ghost_of_tsushima_most_popular.jpg" width="250" height="300"></a>
            </div>
            <div class="portal2">
                <p>Portal 2</p>
                <a href="http://127.0.0.1:5000/portal-2"><img src="/static/portal_2 most_popular.jpg" width="250" height="300"></a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="games_list">
        <div class="Game_Year">
            <h1>Trending Now</h1>
        </div>
        <div class="games">
            <div class="Spider-man">
                <P>Marvel's Spider-Man 2</P>
                <a href="http://127.0.0.1:5000/marvel's-spider-man-2"><img src="/static/spider_man_trending_now.avif" width="250" height="300"></a>
            </div>
            <div class="wukong">
                <p>Black Myth:Wukong</p>
                <a href="http://127.0.0.1:5000/black-myth-wukong"><img src="/static/wukong_trending_now.png" width="250" height="300"></a>
            </div>
            <div class="fifa25">
                <p>FC25</p>
                <a href="http://127.0.0.1:5000/fc-25"><img src="/static/fc25_trending_now.jpg" width="250" height="300"></a>
            </div>
            <div class="cod_blackops">
                <p>Call Of Duty:Black Ops 6</p>
                <a href="http://127.0.0.1:5000/call-of-duty-black-ops-6"><img src="/static/cod_blackops_trending_now.jpg" width="250" height="300"></a>
            </div>
            <div class="sekiro">
                <p>Sekiro: Shadows Die Twice</p>
                <a href="http://127.0.0.1:5000/sekiro-shadows-die-twice"><img src="/static/sekiro_trending_now.jpg" width="250" height="300"></a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 PlayNext. All Rights Reserved.</p>
            <p>Developed by Group 16 | MSc Data Science</p>
        </div>
    </footer>
    
    <!-- Particles.js Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="/static/particles-config.js"></script>
    <script src="/static/recommend_script.js"></script>
    <script src="/static/carousal.js"></script>

</body>
</html>
