<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal 2</title>
    <link rel="stylesheet" href="/static/game.css">
</head>
<body>
    <nav class="navbar">
        <a href="http://127.0.0.1:5000" class="logo">PlayNext - Find Your Next Favorite Game</a>
        <div class="nav-links">
            <a href="http://127.0.0.1:5000/play2gether" class="watch-button">Play2gether</a>
            <a href="http://127.0.0.1:5000/recommendation" class="detail-button">Want a Recommendation?</a>
        </div>
    </nav>

    <div id="game-page">
        <div id="game-title">
            <h1>Portal 2</h1>
        </div>
        <div id="main-content">
            <div id="game-image">
                <img src="/static/portal_2 most_popular.jpg" alt="Portal 2 Cover">
            </div>
            <div id="game-info">
                <p style="color: #ff69b4;"><strong>Description:</strong></p>
                <p>
                    *Portal 2* by Valve is a first-person puzzle-platformer. Players use the iconic Portal Gun to navigate mind-bending puzzles and uncover the dark secrets of Aperture Science.
                </p>
                <p style="color: #ff69b4; font-weight: bold;">Genre:</p>
                <div style="display: inline-flex; gap: 10px;">
                    <div style="border: 1px solid white; padding: 5px; border-radius: 4px;">Puzzle</div>
                    <div style="border: 1px solid white; padding: 5px; border-radius: 4px;">Platformer</div>
                </div>
                <p><strong style="color: #ff69b4;">Rating:</strong> ★★★★★ (4.9/5)</p>
                <p style="color: #ff69b4;"><strong>Platforms Played On:</strong></p>
                <ul>
                    <li>PC</li>
                    <li>PlayStation 3</li>
                    <li>Xbox 360</li>
                </ul>
            </div>
        </div>
        <div id="why-play">
            <h2>Why Play This Game?</h2>
            <p>
                *Portal 2* is a masterpiece of humor, storytelling, and gameplay. Its challenging puzzles and witty dialogue make it a must-play for gamers of all kinds.
            </p>
        </div>
        <div id="screenshots">
            <h2>Game Screenshots</h2>
            <div class="screenshot-container">
                <img src="/static/portal 2/portal-2-ss-1.jpg" alt="Screenshot 1">
                <img src="/static/portal 2/portal-2-ss-2.jpg" alt="Screenshot 2">
                <img src="/static/portal 2/portal-2-ss-3.jpg" alt="Screenshot 3">
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 PlayNext. All Rights Reserved.</p>
            <p>Developed by Group 16 | MSc Data Science</p>
        </div>
    </footer>
</body>
</html>
