<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sekiro: Shadows Die Twice</title>
    <link rel="stylesheet" href="/static/game.css">
</head>
<body>
    <nav class="navbar">
        <a href="http://127.0.0.1:5000" class="logo">PlayNext - Find Your Next Favorite Game</a>
        <div class="nav-links">
            <a href="http://127.0.0.1:5000/play2gether" class="watch-button">Play2gether</a>
            <a href="http://127.0.0.1:5000/recommendation" class="detail-button">Want a Recommendation?</a>
        </div>
    </nav>

    <div id="game-page">
        <div id="game-title">
            <h1>Sekiro: Shadows Die Twice</h1>
        </div>
        <div id="main-content">
            <div id="game-image">
                <img src="/static/sekiro_trending_now.jpg" alt="Sekiro: Shadows Die Twice Cover">
            </div>
            <div id="game-info">
                <p style="color: #ff69b4;"><strong>Description:</strong></p>
                <p>
                    *Sekiro: Shadows Die Twice* is a challenging action-adventure game where you play as a shinobi named Sekiro on a mission to rescue his kidnapped lord and seek revenge on his enemies.
                </p>
                <p style="color: #ff69b4; font-weight: bold;">Genre:</p>
                <div style="display: inline-flex; gap: 10px;">
                    <div style="border: 1px solid white; padding: 5px; border-radius: 4px;">Action-Adventure</div>
                    <div style="border: 1px solid white; padding: 5px; border-radius: 4px;">Stealth</div>
                </div>
                <p><strong style="color: #ff69b4;">Rating:</strong> ★★★★★ (4.9/5)</p>
                <p style="color: #ff69b4;"><strong>Platforms Played On:</strong></p>
                <ul>
                    <li>PlayStation 4</li>
                    <li>PC</li>
                </ul>
            </div>
        </div>
        <div id="why-play">
            <h2>Why Play This Game?</h2>
            <p>
                The game is known for its precise combat, atmospheric world, and deep lore. A must-play for fans of action and samurai games.
            </p>
        </div>
        <div id="screenshots">
            <h2>Game Screenshots</h2>
            <div class="screenshot-container">
                <img src="/static/sekiro/sekiro-ss1.avif" alt="Screenshot 1">
                <img src="/static/sekiro/sekiro-ss2.jpg" alt="Screenshot 2">
                <img src="/static/sekiro/sekiro-ss3.webp" alt="Screenshot 3">
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 PlayNext. All Rights Reserved.</p>
            <p>Developed by Group 16 | MSc Data Science</p>
        </div>
    </footer>
</body>
</html>
